<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>About</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div class="container">
        <div role="main">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>404</h1>
                    <p>Sorry, that page doesn't exist.</p>
                    <p>Want to <a href="./">go home</a> instead?</p>
                </div>
            </div>

        </div>
    </div>
    {{template "footer" .}}
    </body>
</html>
