<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>About</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>About</h1>
    <h5><b><i>All the World in New York</i> Photography Contest</b></h5>
    <div>
        <ul style="color: red;">
            <li>Deadline for Submission: midnight, December 31, 2021.</li>
            <li>Use one form to submit a maximum of three entries. You can save your work between sessions.</li>
            <li>Each entry must include a signed Model Release Form.</li>
            <li>Subject biography is important and will be considered by judges</li>
        </ul>
    </div>
    {{template "footer" .}}
    </body>
</html>