{{define "title"}}
About - Photo contest @ DNALC NYC
{{end}}

{{define "header"}}
About this site
{{end}}

{{define "content"}}
    <div>
    This is a space where you can upload an amazing image to our contest. Who knows, you might win some $$..
    </div>
{{end}}