<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div class="p-5" style="margin-left: auto; margin-right: auto; max-width: 600px; display: block; border: 1px solid #000; padding">
		<h1 align="center">Forgot Password</h1>
		<p>Please enter your email. Soon after submiting this information, you will receive an email from us with a code so you can change your password.</p> 
		<form method="POST" action="/forgotpass">
			{{ .csrfField }}
			<div class="mb-3 mt-5 row">
				<div class="col-sm-3">
					<label for="email" class="fw-bold">Email</label>
				</div>
				<div class="col-sm-9">
					<input type="email" name="email" required>
				</div>
			</div>
			<div align="center">
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
    {{template "footer" .}}
    </body>
</html>