<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1 align="center">Forgot Password</h1>
	<p><strong>An email with further instructions was sent to you.</strong></p>
	DNALC Team.
    {{template "footer" .}}
    </body>
</html>