<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block;">
    <h1 align="center">Forgot Password</h1>
	<p><strong>An email with further instructions was sent to you.</strong></p>
	DNALC Team.
    </div>
    {{template "footer" .}}
    </body>
</html>
