
<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Gallery</title>
    <style>
    a.active {
      color: black;
      text-decoration: none;
      cursor: default;
      pointer-events: none;
    }
    </style>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>Photo Gallery</h1>
    <div>
        Switch size:
        <a id="thumb" name="resize" class="active" href="javascript:resizeImage('thumb');">Thumbnail</a>
        &nbsp;
        <a id="small" name="resize" href="javascript:resizeImage('small');">Small</a>
        &nbsp;
        <a id="medium" name="resize" href="javascript:resizeImage('medium');">Medium</a>
        &nbsp;
        <a id="large" name="resize" href="javascript:resizeImage('large');">Large</a>
        &nbsp;
        <a id="original" name="resize" href="javascript:resizeImage('original');">Original</a>
        <br>
        {{ range $photo := .Photos }}
        <div style="display: inline-block; vertical-align: top;">
            <span style="width: 200px; text-align: center;">
                <figure>
                    <a target="_blank" href="{{replaceEnd $photo.FilePath "-thumb.jpg" "-original.jpg"}}">
                        <img alt="{{html $photo.SubjectName}}" src="{{$photo.FilePath}}">
                    </a>
                    <figcaption style="word-wrap: break-word; max-width: 200px;">
                      <p><b>Subject's Name(s)</b><br>{{html $photo.SubjectName}}</p>
                      <p><b>Subject's Age(s)</b><br>{{html $photo.SubjectAge}}</p>
                      <p><b>Subject's Countr(y/ies) of Birth</b><br>{{html $photo.SubjectCountry}}</p>
                      <p><b>Subject's Ancestral Countr(y/ies) of Origin (if born in US)</b><br>{{html $photo.SubjectOrigin}}</p>
                      <p><b>Where in NYC photograph was taken</b><br>{{html $photo.Location}}</p>
                      <p><b>Subject Biography</b><br>{{html $photo.SubjectBiography}}</p>
                      <p><b>Status</b><br>{{$photo.Status}}</p>
                      {{if eq $photo.ReleaseMimeType "application/pdf"}}
                      <a href="/tmp/release-{{$photo.PhotoId}}.pdf">View Release Form PDF</a>
                      {{else if eq $photo.ReleaseMimeType "application/msword"}}
                      <a href="/tmp/release-{{$photo.PhotoId}}.doc">View Release Form Word Document</a>
                      {{else}}
                      <a href="/tmp/release-{{$photo.PhotoId}}.docx">View Release Form Word Document</a>
                      {{end}}
                    </figcaption>
                </figure>
            <span>
        </div>
        {{end}}
    </div>
    {{template "footer" .}}
    <script>
    function resizeImage(size) {
        for (const resize of document.getElementsByName("resize")) {
            resize.removeAttribute("class");
        }
        document.getElementById(size).className = "active";
        for (const img of document.getElementsByTagName("img")) {
            img.src = img.src.replace(/-[^-]*$/, ("-" + size + ".jpg"));
            setTimeout(function() { img.parentNode.nextElementSibling.style.maxWidth = "" + img.clientWidth + "px"}, 10);
        }
    }
    </script>
    </body>
</html>