<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Call for Entries at DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block;">
      <!--img src="./assets/header-desat.jpg" style="min-width: 250px; "//--><img src="./assets/giga-color-curvy.jpg" class="img-fluid" style="min-width: 250px; margin-top: -.5rem"><br>
<br>

		
		  <h1 align="center"><em>All the World in New  York</em> Photography Competition</h1>
			<h2 align="center"><strong>Call for Entries </strong></h2>
		  <h3 align="center">40 $500 Prizes!</h3>
		  <p style="font-size: 1.2rem; margin-top:30px;">We invite you to submit your best portraits to <em>All the World in New York, </em>which explores the racial and cultural diversity of  America's immigrant city. Photographs should tell a story or reflect the heritage of  New Yorkers with origins from another part of the world. </p>
		  <p>Selected photographs will be displayed at <em>DNA Learning Center NYC</em>, on the campus of the New York City College of Technology in downtown Brooklyn. They will become part of a permanent exhibition, <em>What DNA Says about Our Past and Future</em>. The portraits of New Yorkers will illustrate migrations that have mixed people and their DNA throughout history.</p>
			<p><strong>Photographs</strong> and <strong>subject biographies</strong> will be judged &ldquo;blind,&rdquo;  without submitter&rsquo;s name. The judging panel will be chaired by Jeanne  Moutoussamy-Ashe, a celebrated photographer and public health advocate. The photographers of the top 40 photographs will each receive a<em> $500 award.</em></p>
		  <p>There is <strong>no entry fee</strong>. A maximum of three photos may be submitted per photographer. Entries are welcome from anyone age 18 and older. </p>
		  <ul>		    
		    <li>Register/Login to submit a<strong> maximum of three entries</strong>. Submissions are saved between sessions.</li>
			<li>The <strong>subject biography</strong> (approximately 100 words) is important and will be considered in judging.</li>
		    <li>Each entry must include a signed <a href="./assets/Photo-Release.pdf">Photo Release Form</a>.</li>
			<li>Deadline  for submission: <strong>December 31, 2021</strong>  (11:59 pm EST)</li>

	      </ul>
		  
		  <p>Visit <a href="./guidelines">Guidelines</a> for call for entry details. </p>
		  
{{ if not .User }}
			<div align="center">
			<a class="btn btn-primary btn-lg" href="./register" role="button">Register</a> or <a class="btn btn-primary btn-lg" href="./login" role="button" >Log in</a>
			</div>
{{ end }}
    </div>
    {{template "footer" .}}
    </body>
</html>
