<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Login - Photo Contest</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>Login</h1>
    <form method="POST" action="/login">
        {{ .csrfField }}
        <div class="mb-3">
            <label>Email</label>
            <input type="text" name="email" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <div>Don't have an account? <a href="/register">Register</a> to log your readings.</div>
    {{template "footer" .}}
    </body>
</html>