<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Login - Photo Contest</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1 align="center">Login</h1>
    <form method="POST" action="/login">
        {{ .csrfField }}
        <div class="mb-3 row">
            <div class="col-sm-1">
                <label for="email" class="fw-bold">Email Address</label>
            </div>
            <div class="col-sm-11">
                <input type="email" name="email" required>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-1">
                <label for="password" class="fw-bold">Password</label>
            </div>
            <div class="col-sm-11">
                <input type="password" name="password" required>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <div>Don't have an account? <a href="/register">Register</a> to submit photos.</div>
    {{template "footer" .}}
    </body>
</html>