<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">

        <title>Photo contest @ DNALC NYC</title>
    </head>
  <body>
    <div class="welcome-center">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/profile">Update Profile</a>
        <a href="/password">Change Password</a>
        <a href="/logout">Logout</a>
        <h1>Change Password</h1>
    </div>

    {{if .Message}}
    <div class="message">{{.Message}}</div>
    {{end}}

    <form method="POST" action="/password">
		{{ .csrfField }}
        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label>Password confirm</label>
            <input type="password" name="password_confirm" required>
        </div>
        <div>
            <label></label>
            <button>Update</button>
        </div>
    </form>
  </body>
</html>