<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1 align="center">Change Password</h1>
    <form method="POST" action="/password">
		{{ .csrfField }}
        <div class="mb-3 row">
            <div class="col-sm-2">
                <label for="old_password" class="fw-bold">Old Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" name="old_password" required>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2">
                <label for="password" class="fw-bold">New Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" name="password" required>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2">
                <label for="password_confirm" class="fw-bold">Confirm New Password</label>
            </div>
            <div class="col-sm-10">
                <input type="password" name="password_confirm" required>
            </div>
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
    {{template "footer" .}}
    </body>
</html>