<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>Upload Photo Form</h1>
    <form enctype="multipart/form-data" method="POST" action="/photo">
        {{ .csrfField }}
        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" required>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input type="description" name="description" required>
        </div>
        <div class="mb-3">
            <label>File</label>
            <input type="file" accept="image/png,image/jpeg" name="file" required>
        </div>
        <button class="btn btn-primary">Upload</button>
    </form>
    {{template "footer" .}}
    </body>
</html>