<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Update Profile - Photo Contest</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>Update Profile</h1>
    <form method="POST" action="/profile">
        {{ .csrfField }}
        <div class="mb-3">
            <label>Your Name</label>
            <input type="text" name="name" value="{{ .name }}" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="text" name="email" value="{{ .email }}" required>
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
    {{template "footer" .}}
    </body>
</html>