<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1>Sign Up</h1>
    <form method="POST" action="/register">
		{{ .csrfField }}
        <div class="mb-3">
            <label>Your Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="text" name="email" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <div class="mb-3">
            <label>Password confirm</label>
            <input type="password" name="password_confirm" required>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

    <div>Already have an account? <a href="/login">Login</a>.</div>
    {{template "footer" .}}
    </body>
</html>
