<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>Photo contest @ DNALC NYC</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div class="p-5" style="margin-left: auto; margin-right: auto; max-width: 600px; display: block; border: 1px solid #000; padding">
    <h1 align="center">Reset Password</h1>
    <form method="POST" action="./resetpass">
	{{ .csrfField }}
        <div class="mb-3 mt-5 row">
            <div class="col-sm-3">
                <label for="code" class="fw-bold">Code</label>
            </div>
            <div class="col-sm-9">
                <input style="width: 360px;" type="text" name="code" value="{{.Code}}" required="">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-3">
                <label for="password" class="fw-bold">New Password</label>
            </div>
            <div class="col-sm-9">
                <input style="width: 360px;" type="password" name="password" required="">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-3">
                <label for="password_confirm" class="fw-bold">Confirm New Password</label>
            </div>
            <div class="col-sm-9">
                <input style="width: 360px;" type="password" name="password_confirm" required="">
            </div>
        </div>
        <div align="center">
          <button class="btn btn-primary">Update Password</button>
        </div>
    </form>
    </div>
    {{template "footer" .}}
    </body>
</html>
