<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>My Submissions</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div class="p-5" style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block; border: 1px solid #000; padding">
    <!--<div style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block;">-->
    <h1 align="center">My Submissions</h1>
    <div>
        <!--Switch size:&ensp;
        <a id="thumb" name="resize" class="active" href="javascript:resizeImage('thumb');">Thumbnail</a>
        &nbsp;
        <a id="small" name="resize" href="javascript:resizeImage('small');">Small</a>
        &nbsp;
        <a id="medium" name="resize" href="javascript:resizeImage('medium');">Medium</a>
        &nbsp;
        <a id="large" name="resize" href="javascript:resizeImage('large');">Large</a>
        &nbsp;
        <a id="original" name="resize" href="javascript:resizeImage('original');">Original</a>
        <br>-->
        <div class="row mt-5" >
            <!--div class="col col-sm-3">
                <p id="image_label" style="height: 200px;"><b>Image<b></p>
                <p id="sname_label"><b>Name(s)</b></p>
                <p id="sage_label"><b>Age(s)</b></p>
                <p id="scountry_label"><b>Countr(y/ies) of Birth</b></p>
                <p id="sorigin_label"><b>Ancestral Countr(y/ies) of Origin (if born in US)</b></p>
                <p id="location_label"><b><th>Where in NYC photograph was taken</b></p>
                <p id="sbiography_label"><b>Biography</b></p>
                <p id="status_label"></b>Status</b></p>
                <p id="release_label"><b>Photo Release</b></p>
            </div//-->
            {{ range $photo := .Photos }}
            {{if ne $photo.Status "withdrawn"}}
            <div class="col col-sm-4">
                <p>
                  <a target="_blank" href=".{{replaceEnd $photo.FilePath "-thumb.jpg" "-original.jpg"}}">
                    <img style="height: auto; width: 100%;" alt="{{html $photo.SubjectName}}" src=".{{replaceEnd $photo.FilePath "-thumb.jpg" "-original.jpg"}}">
                  </a>
                </p>
                <p class="sname">Name(s): <b>{{html $photo.SubjectName}}</b></p>
                <p class="sage">Age(s): <b>{{html $photo.SubjectAge}}</b></p>
                <p class="scountry">Born in: <b>{{html $photo.SubjectCountry}}</b></p>
                <p class="sorigin">Ancestors from: <b>{{html $photo.SubjectOrigin}}</b></p>
                <p class="location">Photo taken: <b>{{html $photo.Location}}</b></p>
                <p class="sbiography">Biography: {{html $photo.SubjectBiography}}</p>
                <p class="status">Status: <b>{{$photo.Status}}</b></p>
                <p class="release">Photo Release:  
                {{if eq $photo.ReleaseMimeType "application/pdf"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.pdf">View PDF</a>
                {{else if eq $photo.ReleaseMimeType "application/msword"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.doc">View Document</a>
                {{else if eq $photo.ReleaseMimeType "application/vnd.openxmlformats-officedocument.wordprocessingml.document"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.docx">View Document</a>
                {{else if eq $photo.ReleaseMimeType "image/jpeg"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.jpg">View Image</a>
                {{else if eq $photo.ReleaseMimeType "image/png"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.png">View Image</a>
                {{end}}
                </p>
                {{if eq $photo.Status "active"}}
                <div class="row">
                  <div class="col-sm-4"><a class="btn btn-link" href="./entry?id={{$photo.PhotoId}}">Edit Photo Information</a></div>
                  <div class="col-sm-4"><button id="{{$photo.PhotoId}}" class="btn btn-link" onclick="withdrawPhoto(this)">Withdraw Photo</a></div>
                </div>
                {{end}}
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
    </div>
    <script>
    const csrf = "{{.CSRF}}";
    const encodeFormData = (data) => {
        return new URLSearchParams(data);
    }
    async function postData(url, data) {
        const response = await fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: encodeFormData(data)
        });
        return response.json();
    }
    /*function resizeImage(size) {
        for (const resize of document.getElementsByName("resize")) {
            resize.removeAttribute("class");
        }
        document.getElementById(size).className = "active";
        for (const img of document.getElementsByTagName("img")) {
            if (img.src.indexOf("/tmp/") != -1) {
                img.src = img.src.replace(/-[^-]*$/, ("-" + size + ".jpg"));
                setTimeout(function () {
                  document.getElementById("image_label").style.height = "" + img.clientHeight + "px";
                }, 30);
            }
        }
    }*/
    function withdrawPhoto(withdrawButton) {
      const photoId = withdrawButton.id;
      const confirmation = confirm("Are you sure you want to withdraw the image?");
      if (confirmation) {
        const p_data = {
          "gorilla.csrf.Token": csrf,
          "photoId": photoId,
        };
        postData("./withdraw_entry", p_data).then(
          data => {
            if(data["status"] === "error") {
              alert("Error: " + data["message"]);
            } else {
              document.location.reload();
            }
          }
        );
      }
    }
    /*function changeHeight(itemClass) {
      const itemLabel = document.getElementById(itemClass + "_label");
      const items = document.getElementsByClassName(itemClass);
      const labelHeight = itemLabel.clientHeight;
      for (const item of items) {
        item.style.height = "" + labelHeight + "px";
      }
    }
    document.addEventListener("DOMContentLoaded", function () {
      const labels = ["sname", "sage", "scountry", "sorigin", "location", "sbiography", "status", "release"];
      for (const label of labels) {
        changeHeight(label);
      }
    });*/
    </script>
    {{template "footer" .}}
    </body>
</html>
