<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>My Submissions</title>
    </head>
    <body>
    {{template "header_body" .}}
    <div class="p-5" style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block; border: 1px solid #000; padding">
    <!--<div style="margin-left: auto; margin-right: auto; max-width: 1200px; display: block;">-->
    <h5 align="center"><b><i>All the World in New York City</i> Photography Contest</b></h5>
	<h1 align="center">My Submissions</h1>
    <div>
        <div class="row mt-3" >
            {{ if lt (len .Photos) 3 }}
            <h4 align="center">You have {{len .Photos}} photo entry(ies). <a class="btn btn-primary btn-lg" href="./entry">ADD an entry</a></h4>
            {{ end }}
            {{ range $photo := .Photos }}
            <div class="col col-lg-4 mt-5">
                <p>
                  <a target="_blank" href=".{{replaceEnd $photo.FilePath "-thumb.jpg" "-original.jpg"}}">
                    <img style="height: auto; max-width: 100%; min-width: 300px;" alt="{{html $photo.SubjectName}}" src=".{{replaceEnd $photo.FilePath "-thumb.jpg" "-original.jpg"}}">
                  </a>
                </p>
                <p class="sname">Name(s): <b>{{html $photo.SubjectName}}</b></p>
                <p class="sage">Age(s): <b>{{html $photo.SubjectAge}}</b></p>
                <p class="scountry">Born in: <b>{{html $photo.SubjectCountry}}</b></p>
                <p class="sorigin">Ancestors from: <b>{{html $photo.SubjectOrigin}}</b></p>
                <p class="location">Photo taken: <b>{{html $photo.Location}}</b></p>
                <p class="sbiography">Biography: {{html $photo.SubjectBiography}}</p>
                <p class="status">Status: <b>{{$photo.Status}}</b></p>
                <p class="release">Photo Release(s):  
                {{if eq $photo.ReleaseMimeType "application/pdf"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.pdf">View PDF</a>
                {{else if eq $photo.ReleaseMimeType "application/msword"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.doc">View Document</a>
                {{else if eq $photo.ReleaseMimeType "application/vnd.openxmlformats-officedocument.wordprocessingml.document"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.docx">View Document</a>
                {{else if eq $photo.ReleaseMimeType "image/jpeg"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.jpg">View Image</a>
                {{else if eq $photo.ReleaseMimeType "image/png"}}
                <a href="./tmp/release-{{$photo.PhotoId}}.png">View Image</a>
                {{end}}
                </p>
                {{if eq $photo.Status "active"}}
                <div class="row">
                  <div class="col-sm-6"><a class="btn btn-primary btn-sm" href="./entry?id={{$photo.PhotoId}}">EDIT Entry</a></div>
                  <div class="col-sm-6"><button id="{{$photo.PhotoId}}" class="btn btn-primary btn-sm" onclick="withdrawPhoto(this)">WITHDRAW Entry</a></div>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </div>
    </div>
    <script>
    const csrf = "{{.CSRF}}";
    const encodeFormData = (data) => {
        return new URLSearchParams(data);
    }
    async function postData(url, data) {
        const response = await fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: encodeFormData(data)
        });
        return response.json();
    }
    function withdrawPhoto(withdrawButton) {
      const photoId = withdrawButton.id;
      const confirmation = confirm("Are you sure you want to delete this entry? This cannot be undone.");
      if (confirmation) {
        const p_data = {
          "gorilla.csrf.Token": csrf,
          "photoId": photoId,
        };
        postData("./withdraw_entry", p_data).then(
          data => {
            if(data["status"] === "error") {
              alert("Error: " + data["message"]);
            } else {
              document.location.reload();
            }
          }
        );
      }
    }
    </script>
    {{template "footer" .}}
    </body>
</html>
