<!DOCTYPE html>
<html>
    <head>
    {{template "header_head" .}}
    <title>My Submissions</title>
    </head>
    <body>
    {{template "header_body" .}}
    <h1 align="center">My Submissions</h1>
    {{template "photo_gallery" . }}
    {{template "footer" .}}
    </body>
</html>